@import '~bootstrap/scss/bootstrap';
@import './partials/variables';


//GENERAL
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//////////////////////////////

#carouselTest{
    background-color: black;
    img{
        width: 300px;
        height: 300px;
    }
}

// app.blade.php header tags
.collectoritems{
    position: relative;
    .logonavbar{
        position: absolute;
        left: 585px;
    }
}

.btnloginhighlight{
    background-color: $colordark;
    color: $white;
    text-decoration: none;
    font-weight: 600;
    padding: .6rem 1.6rem .8rem 1.6rem;
    border-radius: 1.5rem;
    transition: all 250ms;
    display: block;
    border: 0px solid;
    &:hover{
        color: $colordark;
        background-color: $color3;
        box-shadow: 0px 0px 0px $colordark;
    }
}

.navtext{
    font-weight: 600;
    color: $colordark;
}

.searchbox{
    position: relative;
    .navsearch{
        padding: .3rem 1.4rem .4rem .8rem;
        border-radius: 1.2rem;
        background-color: $silversand;
        border: 0px solid ;
        outline: none;
    }
    .btnsearch{
        background-color: $color3;
        height: 2.1rem;
        width: 2.3rem;
        border-radius: 1.2rem;
        position: absolute;
        right: .02rem;
        border: 0px solid ;
    }
}
// end app.blade.php header tags

//////////////////////////////

// login.blade.php

.pswforgott{
    font-size: .8rem;
    color: $color3;
    text-shadow: 0px 1px 0px $grey1;
    text-decoration: none;
    transition: all 200ms;
    font-weight: 600;
    &:hover{
        color: $color3;
        text-decoration: underline;
    }
}
.loginheader{
    font-weight: 700;
}
.loginbody{
    padding-top: 2rem;
}

// end login.blade.php

// welcome.blade.php
    .carouselTest{
        height: 200px;
        img{

        }
    }
// end welcome.blade.php

//ADMIN STYLE SECTION

//admin index

#admin-index{
    background-color: beige;

    nav{
        height: 100px;
        border-bottom: 3px solid grey;
        h2{
            color: gray;
        }
        ul{
            margin: 0;
            list-style: none;
            width: 650px;
            li{
                a{
                    text-decoration: none;
                    color: black;
                    display: block;
                    padding: 3px 8px;
                    &.active{
                        border-bottom: 2px solid grey;
                        color: palevioletred
                    }
                }
            }
        }
    }

    .create-new{
        margin: 15px;
    }
}

#admin-show{
    background-color: beige;
    height: 100vh;
    .back-btn{
        margin: 5px;
    }
    h1{
        color: black;
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid black;
    }
    .infos{
        color: black;
        .info-row{
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding: 15px 0;
            .info-col{
                width: 600px;
                span{
                    &:first-of-type{
                        font-weight: bolder;
                    }
                }
            }
        }
    }
    .image{
        width: 40%;
        height: 45vh;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
